<div class="row">
    <div class="col-md-12 justify-content-center">
        <div class="error-template mt-2">
            <h2> Oops!</h2>
            <div class="error-details">
                Sorry, an error has occured.. and the requested page could not be found!
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-light btn-md mt-2"><span class="glyphicon glyphicon-home"></span> Go Home </a>
            </div>
        </div>
    </div>
</div>