<div class="col-md-12 mt-3">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter new Password"
                formControlName="password">
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Your New Password"
                formControlName="confirmPassword">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Submit
        </button>
    </form>
</div>