<div class="row">
    <div class="col-md-12 mt-3">
        <h3>Users Management</h3>
        <h5>You can find a table of all registered users bellow. Click on the desired action in the actions tab to see
            effect.</h5>


        <table class="table mt-2">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm mr-1"
                            (click)="onDeleteClick(user)">Delete</button>
                        <button [disabled]="user.isBlocked" type="button" class="btn btn-secondary btn-sm"
                            (click)="onBlockClick(user)">Block</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>