<div class="row">
    <div class="col-md-12">
        <h4>Edit course details</h4>
    </div>

    <div class="col-md-12">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name">Id</label>
                <input type="text" class="form-control" id="id" formControlName="id" disabled>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
                <error-message [control]="formGroup.get('name')"></error-message>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Enter description"
                    formControlName="description">
                <error-message [control]="formGroup.get('description')"></error-message>
            </div>

            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" class="form-control" id="rating" placeholder="Enter rating"
                    formControlName="rating">
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">
                Submit
            </button>
        </form>
    </div>
</div>